
*{
	padding: 0px;
	margin: 0px;
}

body{
	background: url(../images/body-bg.jpg);
	color: #3f3f3f
	text-align: center;
}

*{
	font-family: 'source sans pro', sans-serif;
}

#paragraph{
	text-align: justify;
	text-justify: auto; /* auto= algoritmo predefinido del buscador*/
}

#content{
	width: 80%;
	text-align: center;
}

#navegacion, #section #article {
	border-radius: 3px;
	margin: 10px;
}

#navegacion{
	height: 70px;
	color: White;
	background: url(../images/navigation.png);
	margin: 0px;
}

#profile{
	border-radius: 256px;
	width: 150px; height: 150px;
	box-shadow: 0px 0px 6px #000000;
	float: left;
	margin-left: 3%; margin-top: -90px;
	/*Transición (Para cada navegador*/
	transition: 1.5s ease ;
	-webkit-transition: 1.5s ease ;
	-moz-transition: 1.5s ease ;
	-o-transition: 1.5s ease ;
}

#profile:hover{
	transform: scale(1.5) rotate(360deg); /*El texto aumenta al pasar el cursor*/
	-webkit-transform: scale(1.5) rotate(360deg); /*Compatible con Chrome*/
}

#header{
	height: 220px;
	background: url(../images/header-bg.jpg);
	margin-bottom: 40px;
}

#header_links{
	color: White;
	text-decoration:none;
}

#section{
	background: #ebe9e9;
	font-size: 30px;
	color: #3f3f3f;
	margin-top: 20px;
	padding: 10px;
}


#article{
	background: #ffffff;
	color: #3f3f3f;
	font-size: 20px;
	text-align: justify;
	padding: 15px;
	overflow: hidden;
} 

#section, #article{
	box-shadow: 0px 0px 6px #3f3f3f; /*Horizontal, vertical, difuminacion, color */
}

#foot{
	background: #7B7B7B;
	color: #ffffff;
	clear: both;
	padding: 15px;
	font-size: 20px;
	margin-top: 20px;
}

h1{
	font-size: 70px;
	font-family: Roboto;
}

h2{
	font-size: 40px;
	font-family: Roboto;
}

/*Menú navegacion*/
ul{
	list-style-type: none;
	padding-left: 0px;
}

li{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 50px;
	font-size: 25px;
	/*Transición (Para cada navegador*/
	transition: 0.3s ease ;
	-webkit-transition: 0.3s ease ;
	-moz-transition: 0.3s ease ;
	-o-transition: 0.3s ease ;
}

li:hover{
	transform: scale(1.5); /*El texto aumenta al pasar el cursor*/
	-webkit-transform: scale(1.5); /*Compatible con Chrome*/
	background: ;
}

/*Proyects*/
#logo{
  height: 65px;
}

.btn{
	padding: 5px 5%;
	border-radius: 5px;
	box-shadow: 0px 0px 6px #000;
	color: #fff;
	outline: none;
    border-width: 0px;
    transition: 0.2s ease ;
	-webkit-transition: 0.2s ease ;
	-moz-transition: 0.2s ease ;
	-o-transition: 0.2s ease ;
    background-color: #a6a6a6;
    margin: 0px 1%;
  
}
.btn:active{
  box-shadow: 0px 0px 4px #000000;
}

.btn.github:hover{
  background-color: #3b5998; 
}
.btn.youtube:hover{
  background-color: #cf3427;
}
.btn.codepen:hover{
  background-color: #1d1d1d;
}
.btn.store:hover{
  background-color: #88b131;
}

/*Contact*/
#contact_images{
	padding: 10px;
	height: 50px; width: 50px;
	opacity: 0.7;
	transition: 0.3s ease ;
	-webkit-transition: 0.3s ease ;
	-moz-transition: 0.3s ease ;
	-o-transition: 0.3s ease ;
}

#contact_images:hover{
	opacity: 1;
	transform: scale(1.2); /*El texto aumenta al pasar el cursor*/
	-webkit-transform: scale(1.2); /*Compatible con Chrome*/
}

#contact_images:active{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}


/*responsive desing */
@media screen and (max-width: 900px){
	/*Pantallas menores o igual que 800px*/
	#content{
		width: 95%;
		text-align: center;
	}

	#profile{
		border-radius: 256px;
		width: 120px; height: 120px;
		box-shadow: 0px 0px 6px #000000;
		float: left;
		margin-left: 20px; margin-top: -30px;
	}

	ul{
		list-style-type: none;
		padding-left: 0px;
	}

	li{
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 18px;
	}

	h1{
		font-size: 40px;
		font-family: Roboto;
	}
}
@media screen and (max-width: 768px){

	li{
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 15px;
	}

	#profile{
		border-radius: 256px;
		width: 100px; height: 100px;
		box-shadow: 0px 0px 6px #000000;
		float: left;
		margin-left: 20px; margin-top: 0px;
	}

	#contact_images{
		padding: 4px;
		height: 40px; width: 40px;
	}

	#logo{
  		height: 40px;
	}
	.btn{
		margin: 4px;
		padding: 5px 5px;
	}
}