/* COLORS
Main color: #3F51B5;*/

*{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif; font-size: 20px;
	text-align: center; text-decoration: none; color: #161616;
}

body{background-color: #ebebeb; }

header{ 
	padding-top: 42px; padding-bottom: 30px;
	background-color: #03a9f4;
}

section{
 	text-align: justify;
 	margin-left: 10%; margin-right: 10%; margin-top: 40px;
 	padding: 5%; padding-top: 3%; padding-bottom: 2%;
 	background-color: #FFF; 
 	box-shadow: 0 9px 25px 0 rgba(0, 0, 0, 0.05), 0 6px 7px 0 rgba(0, 0, 0, 0.05);
 	transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

section:hover{
	box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

#information{
	margin-top: -40px;
}

#Assistant{
	margin-top: -40px;
	font-size: 16px;
}

#code{
	margin: 10px;
	padding: 4px;
	background: #ebebeb;
	font-size: 14px;
	border-radius: 2px; box-shadow: 2px black;
}

footer{
	background: #7B7B7B;
	color: #ffffff;
	clear: both;
	padding: 15px;
	font-size: 20px;
	margin-top: 20px;
}

/*PROYECTS*/
#logo{
  height: 65px;
}
.btn{
	padding: 5px 5%;
	border-radius: 5px;
	color: #fff;
	outline: none;
	border-width: 0px;
	transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	box-shadow: 0 9px 25px 0 rgba(0, 0, 0, 0.05), 0 6px 7px 0 rgba(0, 0, 0, 0.05);
	background-color: #797979;
	font-size: 0px;
	margin-top: 2%;
  
}
.btn:active, .btn.github:hover, .btn.youtube:hover, .btn.codepen:hover, .btn.store:hover{
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.btn.github:hover{
  background-color: #3b5998; 
}
.btn.youtube:hover{
  background-color: #cf3427;
}
.btn.codepen:hover{
  background-color: #1d1d1d;
}
.btn.store:hover{
  background-color: #88b131;
}

#VAOS{
	color: #797979;
}

#VAOS:hover{
	color: #1d1d1d;
}
/*CONTACT*/
#contact_images{
	padding: 10px;
	height: 50px; width: 50px;
	opacity: 0.7;
	transition: 0.3s ease ;
	-webkit-transition: 0.3s ease ;
	-moz-transition: 0.3s ease ;
	-o-transition: 0.3s ease ;
}

#contact_images:hover{
	opacity: 1;
	transform: scale(1.2); /*El texto aumenta al pasar el cursor*/
	-webkit-transform: scale(1.2); /*Compatible con Chrome*/
}

#contact_images:active{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}

/*TEXT*/
h1{ 
	font-size: 60px;
	font-family: 'Roboto', sans-serif; 
	font-weight: 300; 
	background-color: transparent; 
	color: white; 
	padding-bottom: 42px;
}
h2{
	color: white;
}
#title{
	color: #03a9f4;
	font-size: 40px;
	padding-bottom: 30px;
	background-color: transparent;
}
#subtitle{
	color: #03a9f4;
	font-size: 30px;
	padding-bottom: 10px; padding-top: 10px;
	background-color: transparent;
	text-align: left;
}
#Paragraph{
	font-size: 20px;
	text-align: left;
	margin-bottom: 10px;
}